
h1 {
font-family: monospace;
font-size: 70px;
background-color: #333;
color: white;
font-style: normal;
font-variant: normal;
font-weight: 500;
}

h2 {
  font-family: monospace;
  font-size: 80px;
  color: white;
  font-weight: 500;
  padding: 2%;
}

h3 {
  font-family: monospace;
  font-size: 40px;
  color: white;
  font-weight: 500;
  padding: 2%;
  align-content:center;
}

p {
	font-family: Courier;
	font-size: 18px;
  color: white;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 30px;
}

blockquote {
	font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
	font-size: 28px;
  color: white;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 30px;
}

.blockquote-text {
  width: 30%;
  float: right;
}

.hangingindent {
  padding-left: 22px;
  text-indent: -22px;
}

a:link {
    color: white;
}

a:visited {
    color: white;
    text-decoration: underline;
}

a:active {
    color: white;
    text-decoration: bold;
}
