body {
  font-family: "Monospace", sans-serif;
}

h1 {
font-family: monospace;
font-size: 70px;
color: white;
font-style: normal;
font-variant: normal;
font-weight: 500;
}

h2 {
  font-family: monospace;
  font-size: 80px;
  color: white;
  font-weight: 500;
  padding: 2%;
}

h3 {
  font-family: monospace;
  font-size: 40px;
  color: white;
  font-weight: 500;
  padding: 2%;
}

p {
	font-family: monospace;
	font-size: 24px;
  color: white;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 20px;
}

blockquote {
	font-family: monospace;
	font-size: 36px;
  color: white;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 30px;
}

a:link {
    color: white;
}

a:visited {
    color: white;
    text-decoration: underline;
}

a:active {
    color: white;
    text-decoration: bold;
}
